html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
/*font: font-size font-default*/
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff;
/*font: font-size font-default*/
  -webkit-text-size-adjust: 100%;
}
.outer {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 839px) {
  .outer {
    padding: 0 0px;
  }
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.logo {
  width: 94px;
  height: 35px;
  background-image: url("images/logo.png");
  -webkit-background-size: 74px 28px;
  -moz-background-size: 74px 28px;
  background-size: 74px 28px;
  background-position: left center;
  background-repeat: no-repeat;
}
.logo-text {
  width: auto;
  color: #000;
  font-family: Righteous;
  font-size: 64px;
  margin-top: 58px;
  text-decoration: none;
  background-image: none;
}
.subtitle {
  width: auto;
  height: auto;
  color: #999;
  font-family: Righteous;
  font-size: 36px;
  margin-top: 130px;
  text-decoration: none;
  background-image: none;
}
a.article-title,
.article-entry a,
.article-entry-pages a,
.article-more-link a,
#comments a,
.archive-year-wrap a,
.archive-category-wrap a,
.archive-tag-wrap a,
.archive-article-title,
#page-nav a,
#footer a,
.article-entry-pages .gist .gist-file .gist-meta a,
.layout-wrap-inner .category-list a,
.tag-cloud a {
  color: #111;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
a.article-title:hover,
.article-entry a:hover,
.article-entry-pages a:hover,
.article-more-link a:hover,
#comments a:hover,
.archive-year-wrap a:hover,
.archive-category-wrap a:hover,
.archive-tag-wrap a:hover,
.archive-article-title:hover,
#page-nav a:hover,
#footer a:hover,
.article-entry-pages .gist .gist-file .gist-meta a:hover,
.layout-wrap-inner .category-list a:hover,
.tag-cloud a:hover {
  border-bottom-color: #000;
}
.article-entry a,
.article-entry-pages a {
  border-bottom: 1px dotted #000;
}
.article-entry h1,
.article-entry-pages h1 {
  font-size: 2em;
}
.article-entry h2,
.article-entry-pages h2 {
  font-size: 1.5em;
}
.article-entry h3,
.article-entry-pages h3 {
  font-size: 1.3em;
}
.article-entry h4,
.article-entry-pages h4 {
  font-size: 1.2em;
}
.article-entry h5,
.article-entry-pages h5 {
  font-size: 1em;
}
.article-entry h6,
.article-entry-pages h6 {
  font-size: 1em;
  color: #939393;
}
.article-entry hr,
.article-entry-pages hr {
  border: 1px dashed #ddd;
}
.article-entry strong,
.article-entry-pages strong {
  font-weight: bold;
}
.article-entry em,
.article-entry-pages em,
.article-entry cite,
.article-entry-pages cite {
  font-style: italic;
}
.article-entry sup,
.article-entry-pages sup,
.article-entry sub,
.article-entry-pages sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.article-entry-pages sup {
  top: -0.5em;
}
.article-entry sub,
.article-entry-pages sub {
  bottom: -0.2em;
}
.article-entry small,
.article-entry-pages small {
  font-size: 0.85em;
}
.article-entry acronym,
.article-entry-pages acronym,
.article-entry abbr,
.article-entry-pages abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.article-entry-pages ul,
.article-entry ol,
.article-entry-pages ol,
.article-entry dl,
.article-entry-pages dl {
  margin: 0 20px;
  line-height: 1.4em;
}
.article-entry ul ul,
.article-entry-pages ul ul,
.article-entry ol ul,
.article-entry-pages ol ul,
.article-entry ul ol,
.article-entry-pages ul ol,
.article-entry ol ol,
.article-entry-pages ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.article-entry-pages ul {
  list-style: disc;
}
.article-entry ol,
.article-entry-pages ol {
  list-style: decimal;
}
.article-entry dt,
.article-entry-pages dt {
  font-weight: bold;
}
#header {
  font-size: 14px;
  position: relative;
}
#header.mobile-on #main-nav,
#header.mobile-on #sub-nav {
  display: block;
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 839px) {
  #header-inner {
    position: absolute;
    background: #fff;
    margin-top: 0px;
    border-bottom: 1px solid #fcfcfc;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    z-index: 100;
  }
}
#main-nav {
  float: left;
  margin-left: -15px;
  font-family: PingFang SC, STZhongsong, '华文宋体', 'Microsoft Yahei', serif;
}
.main-nav-link,
#main-nav-toggle,
.search-form-submit {
  float: left;
  color: #000;
  text-decoration: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  padding: 39px 15px;
}
.menu-li {
  list-style-type: none;
  display: inline;
}
@media screen and (max-width: 839px) {
  .menu-li {
    display: block;
    margin: 25px 0 25px 0;
  }
}
.main-nav-link {
  font-weight: 700;
  font-size: 24px;
}
@media screen and (max-width: 839px) {
  .main-nav-link {
    float: none;
    padding: 0px 60px;
    text-align: center;
  }
}
#main-nav-toggle {
  padding: 15px 15px;
  display: none;
  font-size: 16px;
  margin-left: -15px;
  font-family: FontAwesome;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 839px) {
  #main-nav-toggle {
    display: block;
    margin-left: 0px;
  }
}
#logo {
  float: left;
}
@media screen and (max-width: 839px) {
  #logo {
    float: none;
    font-size: 28px;
    margin: 8px 0px 3px 0px;
    padding-left: 10px;
    display: block;
    vertical-align: top;
    background-position: center;
  }
}
#subtitle-text {
  float: none;
  display: block;
}
@media screen and (max-width: 839px) {
  #subtitle-text {
    font-size: 0px;
    margin: 0 0 0 0;
  }
}
#sub-nav {
  float: right;
}
@media screen and (max-width: 839px) {
  #main-nav,
  #sub-nav {
    display: none;
    float: none;
  }
}
#search-form-wrap {
  top: 15px;
  padding: 20px 15px;
}
@media screen and (max-width: 839px) {
  #search-form-wrap {
    text-align: center;
  }
}
.search-form:before,
.search-form:after {
  content: "";
  display: table;
}
.search-form:after {
  clear: both;
}
@media screen and (max-width: 839px) {
  .search-form {
    display: inline-block;
  }
}
.search-form-input {
  width: 150px;
  border: none;
  float: left;
  font-size: 14px;
  background: none;
  color: #111;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  float: left;
  padding: 0;
  font-family: FontAwesome;
  border: none;
  background: none;
  cursor: pointer;
}
.article {
  margin: 0px 0px 10px 0px;
}
.article-inner {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 10px;
  padding-bottom: 11px;
  max-height: 418px;
  min-height: 418px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  -webkit-border-radius: 2px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
  z-index: 1;
  -webkit-transition: -webkit-box-shadow 0.25s 0.25s ease-in-out, box-shadow 0.25s 0.25s ease-in-out;
  -moz-transition: -webkit-box-shadow 0.25s 0.25s ease-in-out, box-shadow 0.25s 0.25s ease-in-out;
  -ms-transition: -webkit-box-shadow 0.25s 0.25s ease-in-out, box-shadow 0.25s 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s 0.25s ease-in-out, box-shadow 0.25s 0.25s ease-in-out;
}
@media screen and (max-width: 839px) {
  .article-inner {
    width: auto;
    margin: 0px 10px 10px 10px;
  }
}
div.article-inner:hover {
  -webkit-box-shadow: 0 1px 15px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 15px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 15px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.article-inner-pages {
  position: relative;
  letter-spacing: 0em;
  margin-bottom: 15px;
  margin-top: -30%;
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: #fff;
  width: 900px;
  z-index: 98;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
}
@media screen and (max-width: 839px) {
  .article-inner-pages {
    width: auto;
    margin-top: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    background: #fff;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
    -webkit-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
  }
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta a {
  text-decoration: none;
}
.article-date {
  color: #939393;
  float: left;
  margin-left: 10px;
}
.article-date-page {
  color: #939393;
  padding: 0px 0px 0px 150px;
}
@media screen and (max-width: 839px) {
  .article-date-page {
    padding: 0 0px 0 20px;
  }
}
.article-category {
  float: left;
  margin-left: 8px;
  color: #939393;
}
.article-category:before {
  content: "\2022";
}
.article-category span {
  margin-left: 8px;
}
.article-category-link {
  margin-left: 8px;
}
.article-comment-link-wrap {
  float: left;
  margin-left: 8px;
  color: #939393;
}
.article-comment-link-wrap:before {
  content: "\2022";
}
.article-comment-link {
  margin-left: 8px;
}
.article-header {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.article-header-pages {
  margin-bottom: 10px;
}
.article-title {
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
}
a.article-title {
  color: #332;
}
.article-title-pages {
  color: #332;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1em;
  padding: 0 150px 0 150px;
}
@media screen and (max-width: 839px) {
  .article-title-pages {
    font-size: 1.8em;
    padding: 0 20px 0 20px;
  }
}
a.article-title {
  color: #332;
}
.article-entry {
  max-height: 108px;
  min-height: 108px;
  color: #111;
  padding: 0;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.4em;
  margin: 0.7em 0;
  padding: 0px 10px 0 10px;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.62;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: 600;
  line-height: 1.5em;
  padding: 0px 10px 0 10px;
  margin: 1em 0;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: 600;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: PingFang SC, 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;
  font-size: 1.5em;
  margin: 1.4em 20px;
  text-align: center;
}
.article-entry blockquote footer {
  font-size: 16px;
  margin: 1.4em 0;
  font-family: font-sans;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #939393;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-entry-pages {
  color: #111;
  padding: 40px 150px 0 150px;
}
.article-entry-pages:before,
.article-entry-pages:after {
  content: "";
  display: table;
}
.article-entry-pages:after {
  clear: both;
}
@media screen and (max-width: 839px) {
  .article-entry-pages {
    padding: 40px 20px 0 20px;
  }
}
.article-entry-pages p,
.article-entry-pages table {
  line-height: 1.4em;
  margin: 0.7em 0;
  color: rgba(0,0,0,0.8);
  line-height: 1.62;
  font-size: 18px;
}
.article-entry-pages h1,
.article-entry-pages h2,
.article-entry-pages h3,
.article-entry-pages h4,
.article-entry-pages h5,
.article-entry-pages h6 {
  font-weight: bold;
  line-height: 1.5em;
  margin: 1em 0;
}
.article-entry-pages ul,
.article-entry-pages ol,
.article-entry-pages dl {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  color: #5f5f5f;
  line-height: 1.62;
  font-size: 18px;
}
.article-entry-pages img,
.article-entry-pages video {
  width: 100%;
  height: 100%;
  max-height: auto;
  margin: auto;
}
.article-entry-pages iframe {
  border: none;
}
.article-entry-pages table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry-pages th {
  font-weight: 600;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry-pages td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry-pages blockquote {
  font-family: PingFang SC, 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;
  font-size: 1.5em;
  margin: 1.4em 20px;
  text-align: center;
}
.article-entry-pages blockquote footer {
  font-size: 16px;
  margin: 1.4em 0;
  font-family: font-sans;
}
.article-entry-pages blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry-pages .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry-pages .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry-pages .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry-pages .caption {
  color: #939393;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry-pages .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry-pages .video-container iframe,
.article-entry-pages .video-container object,
.article-entry-pages .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  font-size: 13px;
  background: url("images/post-mask.png");
  background-repeat-x: repeat;
  background-position-y: 0px;
  width: 100%;
  color: #939393;
  border: none;
  padding-top: 30px;
  padding-bottom: 10px;
  position: absolute;
  display: block;
  bottom: 0;
}
.article-footer {
  font-size: 0.85em;
  padding: 1.4em 0;
  line-height: 1.4em;
  margin: 0;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #939393;
  text-decoration: none;
}
.article-footer a:hover {
  color: #111;
}
.article-tag-list-item,
.article-tag-list-link {
  width: auto;
  font-size: 0.75em;
  float: left;
  color: #fff;
  text-decoration: none;
  font-family: "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-UX {
  width: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #a2dd65;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-yiwen {
  width: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #6fddff;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-zuopin {
  width: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #ff6363;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-works {
  width: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #ff6363;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-rizhi {
  width: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #5df1c0;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-log {
  width: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #5df1c0;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-fenxiang {
  width: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #e8b055;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-share {
  width: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #e8b055;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-wenzhang {
  width: auto;
  height: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #ff8643;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-xiazai {
  width: auto;
  height: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background: -webkit--webkit-linear-gradient(right, #fa6c9f, #ffe140);
  background: -webkit--moz-linear-gradient(right, #fa6c9f, #ffe140);
  background: -webkit--ms-linear-gradient(right, #fa6c9f, #ffe140);
  background: -webkit-linear-gradient(to left, #fa6c9f, #ffe140); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(right, #fa6c9f, #ffe140);
  background: -moz-linear-gradient(right, #fa6c9f, #ffe140);
  background: -ms-linear-gradient(right, #fa6c9f, #ffe140);
  background: linear-gradient(to left, #fa6c9f, #ffe140);
  -webkit-box-shadow: 0 5px 10px rgba(250,108,159,0.19), 0 3px 3px rgba(225,225,64,0.23);
  -moz-box-shadow: 0 5px 10px rgba(250,108,159,0.19), 0 3px 3px rgba(250,108,159,0.19);
  -webkit-box-shadow: 0px 5px 8px rgba(250,108,159,0.19), 0 3px 3px rgba(250,108,159,0.19);
  box-shadow: 0px 5px 8px rgba(250,108,159,0.19), 0 3px 3px rgba(250,108,159,0.19);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
.article-tag-list-link-article {
  width: auto;
  height: auto;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  background-color: #ff8643;
  margin: 1px 1px 0px 8px;
  padding: 1.5px 3px 1.5px 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
}
#article-nav {
  position: relative;
  margin: 20px 0;
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #939393;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #111;
}
@media screen and (min-width: 840px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
    margin-top: 50px;
  }
}
#article-nav-newer {
  float: left;
  text-align: left;
}
#article-nav-older {
  float: right;
  text-align: right;
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: 600;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  letter-spacing: 0em;
  font-size: 0.85em;
  line-height: 1.4em;
  margin-top: 0.5em;
}
.article-gallery {
  background: #fbfbfb;
}
.article-gallery-photos {
  overflow: hidden;
}
.article-gallery-img {
  margin: 0 auto;
  display: none;
  width: auto;
  height: auto;
  max-height: 235px;
  align: center;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.article-gallery-img-pages {
  margin: 0px auto;
  display: none;
  margin-bottom: 40px;
}
.article-gallery-img-pages:first-child {
  display: block;
}
.article-gallery-img-pages.loaded {
  display: block;
}
.article-gallery-img-pages img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.article-toc {
  display: none;
  position: fixed;
  left: 50%;
  top: 110px;
  font-size: 0.9em;
  width: 260px;
  margin-left: 400px;
  padding-left: 20px;
  overflow-y: auto;
  line-height: 1.4em;
  max-height: 40.32em;
}
.article-toc h3 {
  font-weight: bold;
  margin-left: 20px;
}
.article-toc .toc-item {
  list-style: none;
  margin-left: 20px;
}
.article-toc .toc-item a {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 1400px) {
  .article-toc {
    display: block;
  }
}
#comments {
  width: 100%;
  padding: 40px 150px 0 150px;
  margin: 50px 0;
}
@media screen and (max-width: 839px) {
  #comments {
    padding: 40px 20px 0 20px;
  }
}
.archives-wrap {
  letter-spacing: 0;
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap,
.archive-category-wrap,
.archive-tag-wrap {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.archives {
  margin-left: 5px;
  border-left: 1px solid #ddd;
}
.archive-article-inner {
  padding: 10px 10px 10px 12px;
  margin: 15px 0 15px -2px;
  border-left: 3px solid transparent;
}
.archive-article-inner:hover {
  border-left-color: #000;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #939393;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
  width: 980px;
  letter-spacing: 0;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  width: 36px;
  height: 36px;
  margin: 0 5px;
  line-height: 36px;
  text-align: center;
}
#page-nav a.prev,
#page-nav a.next {
  margin: 0;
  width: auto;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 839px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #fff;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background-color: #000;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  padding: 50px 0;
  text-align: center;
}
#footer a {
  font-weight: 600;
}
#footer-info {
  line-height: 1.4em;
  font-size: 0.85em;
}
.article-entry-pages pre,
.article-entry-pages .highlight {
  margin: 0;
  font-size: 16px;
  background: #ededf0;
  padding: 15px 0;
  overflow: auto;
  color: #333;
  line-height: 22.4px;
}
.article-entry-pages .highlight .gutter pre,
.article-entry-pages .gist .gist-file .gist-data .line-numbers {
  color: #333;
  font-size: 0.85em;
}
.article-entry-pages {
  color: #111;
  padding: 40px 150px 0 150px;
}
.article-entry-pages:before,
.article-entry-pages:after {
  content: "";
  display: table;
}
.article-entry-pages:after {
  clear: both;
}
@media screen and (max-width: 839px) {
  .article-entry-pages {
    padding: 40px 20px 0 20px;
  }
}
.article-entry-pages pre,
.article-entry-pages code {
  font-family: PingFang SC, Consolas, Monaco, Menlo, Consolas, monospace, '华文中宋';
}
.article-entry-pages code {
  background: #ededf0;
  padding: 0 0.3em;
}
.article-entry-pages pre {
  padding: 20px;
}
.article-entry-pages pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry-pages pre .highlight {
  padding: 0;
}
.article-entry-pages .highlight pre {
  border: none;
  margin: 0;
  padding: 0 20px;
}
.article-entry-pages .highlight table {
  margin: 0;
  width: auto;
}
.article-entry-pages .highlight td {
  border: none;
  padding: 0;
}
.article-entry-pages .highlight figcaption {
  font-size: 0.85em;
  color: highlight-comment;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry-pages .highlight figcaption:before,
.article-entry-pages .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry-pages .highlight figcaption:after {
  clear: both;
}
.article-entry-pages .highlight figcaption a {
  float: right;
}
.article-entry-pages .highlight .gutter pre {
  text-align: right;
}
.article-entry-pages .highlight .line {
  height: 22.4px;
}
.article-entry-pages .gist {
  margin: 0;
  padding: 15px 0;
}
.article-entry-pages .gist .gist-file {
  border: none;
  font-family: PingFang SC, Consolas, Monaco, Menlo, Consolas, monospace, '华文中宋';
  margin: 0;
}
.article-entry-pages .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry-pages .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry-pages .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry-pages .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry-pages .gist .gist-file .gist-meta {
  background: highlight-background;
  color: highlight-comment;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
}
.article-entry-pages .gist .gist-file .gist-meta a {
  font-weight: normal;
}
.article-entry-pages .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .tag,
pre .css .rules,
pre .css .value,
pre .css .function,
pre .preprocessor,
pre .pragma {
  color: #f8f8f2;
}
pre .strongemphasis,
pre .strong,
pre .emphasis {
  color: #a8a8a2;
}
pre .bullet,
pre .blockquote,
pre .horizontal_rule,
pre .number,
pre .regexp,
pre .alias .keyword,
pre .literal,
pre .hexcolor {
  color: #ae81ff;
}
pre .tag .value,
pre .code,
pre .title,
pre .css .class,
pre .class .title:last-child {
  color: #a6e22e;
}
pre .link_url {
  font-size: 80%;
}
pre .strong,
pre .strongemphasis {
  font-weight: bold;
}
pre .emphasis,
pre .strongemphasis,
pre .class .title:last-child {
  font-style: italic;
}
pre .keyword,
pre .function,
pre .change,
pre .winutils,
pre .flow,
pre .nginx .title,
pre .tex .special,
pre .header,
pre .attribute,
pre .symbol,
pre .symbol .string,
pre .tag .title,
pre .value,
pre .alias .keyword:first-child,
pre .css .tag,
pre .css .unit,
pre .css .important {
  color: #f92672;
}
pre .function .keyword,
pre .class .keyword:first-child,
pre .constant,
pre .css .attribute {
  color: #66d9ef;
}
pre .variable,
pre .params,
pre .class .title {
  color: #f8f8f2;
}
pre .string,
pre .css .id,
pre .subst,
pre .type,
pre .ruby .class .parent,
pre .built_in,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt,
pre .link_label,
pre .link_url {
  color: #e6db74;
}
pre .comment,
pre .javadoc,
pre .annotation,
pre .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #75715e;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata,
pre .xml .php,
pre .php .xml {
  opacity: 0.5;
}
.layout-wrap {
  letter-spacing: 0;
  margin: 50px 0;
}
@media screen and (max-width: 839px) {
  .layout-wrap {
    padding: 0 20px 0 20px;
  }
}
.layout-title {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.layout-wrap-inner .category-list,
.layout-wrap-inner .category-list-child {
  line-height: 1.8em;
}
.layout-wrap-inner .category-list:before,
.layout-wrap-inner .category-list-child:before,
.layout-wrap-inner .category-list:after,
.layout-wrap-inner .category-list-child:after {
  content: "";
  display: table;
}
.layout-wrap-inner .category-list:after,
.layout-wrap-inner .category-list-child:after {
  clear: both;
}
.layout-wrap-inner .category-list-child {
  margin-left: 24px;
}
.layout-wrap-inner li:before {
  content: '>';
  float: left;
  padding: 0 16px 0 0;
}
.layout-wrap-inner .category-list-count {
  margin-left: 8px;
  color: #939393;
}
.layout-wrap-inner .category-list-count:before {
  content: '(';
}
.layout-wrap-inner .category-list-count:after {
  content: ')';
}
.tag-cloud a {
  margin-right: 8px;
}
.tag-cloud a:before {
  content: '#';
}
.fancybox-skin {
  padding: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: PingFang SC, 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;
}
.fancybox-skin .fancybox-title .child {
  background: none;
  font-weight: 400;
  font-size: 16px;
  font-family: PingFang SC, 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.5);
}
